<!-- Listing 7.10: Adding a title and heading for the user profile page. -->
<% provide(:title, @user.name) %>
<!-- Listing 7.14: Adding a sidebar tot he user show view. -->
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <!-- listing 7.12: the user show view with name and gravatar. -->
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <!-- Listing 11.27: Adding the follower stats to the user profile page. -->
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <!-- Listing 10.17: Adding microposts to the user show page. -->
  <div class="span8">
    <!-- Listing 11.27: Adding the follow form to the user profile page. -->
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
