<!-- Listing 5.9: Add partials for the stylesheets and header -->
<!DOCTYPE html>
<html>
  <head>
    <!-- Listing 3.26: Using Embeded Ruby to provide a title to each page. -->
    <!-- Listing 4.3: Full page title is now deterined in application_helper. -->
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!-- Listing 5.9: Moved shim to partial _shim.html.erb. -->
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <!-- Listing 5.9: Moved header to partial _header.html.erb. -->
    <%= render 'layouts/header' %>
    <div class="container">
      <!-- Listing 7.27: Adding contents of the flash variable to the site layout -->
      <% flash.each do |key, value| %>
        <!-- Listing 7.33: Using the flash ERb in the site layout using 'content_tag'. -->
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      <!-- Listing 5.13: Site layout with footer partial. -->
      <%= render 'layouts/footer' %>
      <!-- Listing 7.1: Adding debut info to dev site layout. -->
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
